.panel {
    border: 1px solid var(--grey-15);
    background: var(--grey-5);
    border-radius: var(--radius-sm);

    &-header {
        margin-inline: 1.5rem;
    }

    &-row-header,
    &-row-body,
    &-footer {
        padding: 1.5rem;
    }

    &-footer {
        margin-block-start: 1rem;

        &-buttons {
            display: flex;
            gap: 2rem;
            align-items: center;
            justify-content: center;

            button,
            p {
                flex-shrink: 1;
            }
        }
    }

    &-default {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        p {
            font-size: var(--font-sm);
            max-width: 420px;
        }
    }

    &-header {
        background-image: url("/src/assets/border-dashed.svg");
        background-repeat: repeat-x;
        background-position: bottom;
        padding-block: 1.5rem 1rem;
        margin-block-end: 1.5rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        h2 {
            margin-block: 0;
        }

        p {
            margin-block: 4px 0;
            font-size: var(--font-sm);
        }

        &-end {
            display: flex;
            gap: 2rem;
        }

        &-action {
            flex-shrink: 0;
        }
    }

    &-row {
        &:nth-child(2n) {
            background: var(--grey-10);
        }

        p {
            margin-block: 0;
            font-size: var(--font-sm);
        }

        details {
            &[open] summary .panel-row-header-action {
                transform: rotate(-180deg);
            }

            summary .panel-row-header-action {
                transition: 0.15s ease transform;
            }

            &[open] summary,
            summary {

                &:hover + .panel-row-body,
                &:focus + .panel-row-body,
                &:active + .panel-row-body,
                &:hover,
                &:focus,
                &:active {
                    cursor: pointer;
                    background: var(--grey-15);
                }
            }
        }

        &-header {
            display: flex;
            align-items: center;
            gap: 2rem;
            justify-content: space-between;

            &-data {
                display: flex;
                gap: 1rem; 
                flex-wrap: wrap;
                flex: auto;
                align-items: center;

                p {
                    word-break: break-all;
                    color: var(--color-white);

                    &:first-child {
                        font-weight: 700;
                        color: var(--grey-50);
                        flex: 0 0 8rem;
                        line-break: anywhere;
                    }

                    &.data-label {
                        flex: 0 0 auto;
                        font-size: var(--font-xs);
                        text-transform: uppercase;
                        color: var(--color-white);
                        font-weight: 700;
                    }

                    &.chip {
                        color: var(--color-white);
                        border-radius: 999px;
                        padding: 0 6px;
                        font-size: var(--font-xs);
                        display: flex;
                        align-items: center;

                        &-danger {
                            background: var(--red-20);
                            border: 1px solid var(--color-red);
                        }
    
                        &-success {
                            background: var(--green-20);
                            border: 1px solid var(--color-green);
                        }

                        &-warn {
                            background: var(--orange-20);
                            border: 1px solid var(--color-orange);
                        }

                        &-info {
                            color: var(--color-black);
                            background: var(--blue-120);
                            border: 1px solid var(--color-blue);
                        }
                    }

                }
            }
        }
    }
}