# This CODEOWNERS file denotes the project leads
# and encodes their responsibilities for code review.

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# The format is described: https://github.blog/2017-07-06-introducing-code-owners/

# These owners will be the default owners for everything in the repo.
*       @kirahsapong

# If a pull request only touches .tsx files, only these owners
# will be requested to review.
*.tsx    @kirahsapong
