.details {
    &-page-hero {
        justify-content: space-between;
        padding: 1.5rem;
        margin-block-end: 2rem;

        &-content {
            p {
                margin-block: 8px;
                font-size: var(--font-sm);

                &.details-description {
                    font-size: var(--font-md);
                    margin-block-end: 1.5rem;
                }
            }

            &-actions {
                margin-block: 2rem 1rem;
            }
        }

        &-card {
            border: 1px solid var(--grey-10);
            border-radius: 1rem;
            padding-block: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            max-width: 480px;
            height: 300px;
            box-shadow: 0px 0px 20px var(--color-black);
            background: var(--color-yellow);
            color: var(--color-black);

            &-content {
                width: 100%;

                & > div:not(.details-page-hero-card-full-width) {
                    padding-inline: 1rem;
                }

                &-hero  {
                    overflow: hidden;
                    max-height: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-block: 1rem;
                    
                    img {
                        width: 100%;
                    }
                }

                &-thumbnail  {
                    img {
                        display: block;
                    }
                }

                &-header {
                    font-size: var(--font-md);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-bottom: 8px;
                    max-width: 80%;
                }

                &-body {
                    font-size: var(--font-xs);
                }

            }
        }
    }

    &-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;

        @media screen and (min-width: 996px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.entry-container {
    white-space: break-spaces;
    font-family: var(--site-font);
    font-size: var(--font-xs);
    border-radius: var(--radius-sm);
    margin-bottom: 2rem;
    overflow-wrap: anywhere;
    border: 1px solid var(--white-transparent);

    &.panel-body {
        margin-inline: 1.5rem;
    }

    .entry-row {
        display: flex;
        gap: 2rem;
        padding-inline: 2rem;
        padding-block: 1rem;
        &:not(:last-child) {
            border-bottom: 1px solid var(--white-transparent);
        }

        .key-entry {
            flex: 0 0 6rem;
            font-weight: 700;
        }

        .value-entry {
            p {
                margin-block-start: 0;
                font-size: var(--font-xs);
            }
        }
    }
}

