.details {
    &-page {
        .render-panel {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #d0d0d0;
            border-radius: var(--radius-sm);
        }
    
        &-hero {
            justify-content: space-between;
            padding: 1.5rem;
            display: flex;
            flex-wrap: wrap;

            &-content {
                display: flex;
                flex-wrap: wrap;
                p {
                    font-size: var(--font-sm);

                    &.details-description {
                        font-size: var(--font-md);
                        margin-block: 0.5rem 3rem;
                    }

                    &.eyebrow-label {
                        text-transform: uppercase;
                        color: var(--color-white);
                    }
                }

                &-actions {
                    margin-block: 1rem 2rem;
                }
            }

            &-card {
                border-radius: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                width: 340px;
                min-height: 480px;
                max-width: 100%;
                box-shadow: 0px 4px 8px rgba(6, 6, 6, 0.5);
                background: var(--grey-50);
                background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/swirl.png);
                color: var(--color-black);
                overflow: hidden;
                padding-block-end: 1.5rem;
                margin-inline: 2rem;
                transform: scale(0.5);
                translate: -12.5% -25%;

                @media screen and (max-width: 997px) {
                    display: none;
                }

                &-content {
                    width: 100%;

                    & > div:not(.details-page-hero-card-full-width) {
                        padding-inline: 1rem;
                    }

                    &-hero  {
                        overflow: hidden;
                        max-height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                        img {
                            width: 100%;
                        }
                    }

                    &-thumbnail  {
                        margin-block: 1rem;
                        img {
                            display: block;
                        }
                    }

                    &-info  {
                        display: flex;
                        flex-wrap: wrap;

                        .info-entry {
                            flex: 50%;
                            word-break: break-all;
                            padding: 0 1rem 1rem 0;

                            &-label {
                                font-size: var(--font-xs);
                                text-transform: uppercase;
                            }
                        }
                    }

                    &-header {
                        font-size: var(--font-md);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 80%;
                    }

                    &-body {
                        font-size: var(--font-xs);
                    }

                }
            }
        }
    }

    &-container {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        gap: 1rem;

        & > section {
            flex: 1;
            max-width: 100%;
        }
    }
}

