.admin-overview {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

        @media screen and (min-width: 996px) {
            grid-template-areas: 
            "a b b"
            "c c d"
            "c c e";
            grid-template-columns: 3fr 1fr 3fr;
            grid-template-rows: 3fr 1fr 1fr;

            & > :is(:nth-child(1)) {
                grid-area: a;
            }

            & > :is(:nth-child(2)) {
                grid-area: b;
            }

            & > :is(:nth-child(3)) {
                grid-area: c;
            }

            & > :is(:nth-child(4)) {
                grid-area: d;
            }

            & > :is(:nth-child(5)) {
                grid-area: e;
            }

        }

        h1 {
            margin-block-start: 0;
        }
}