.item-panel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;

    &-card {
        border: 1px solid var(--grey-15);
        padding: 1rem;
        background: var(--grey-5);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-header {
            display: flex;
            gap: 1rem;
            align-items: center;
            margin-block: 1rem;
            
            &-icon {
                width: 36px;
                height: 36px;
                background: var(--color-purple);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
            
                &:before {
                    content: attr(data-icon);
                    font-weight: 700;
                    font-size: var(--font-md);
                } 
            }
        
            &-title {
                font-weight: 700;
                margin-block: 0;
                font-size: var(--font-md);
                color: var(--color-white);
            }
        }

        &-body {
            font-size: var(--font-xs);
            margin-block: 1rem;
        }

        &-link {
            font-size: var(--font-sm);
            margin-block: 0.5rem;
        }

        &-button {
            width: 100%;
            margin-block: 4px;
        }

        &.card-create-new {
            display: flex;;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            min-height: 250px;

            svg {
                width: 36px;
            }

            p {
                margin-block-end: 0;
            }
        }
    }

}