@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap');

:root {
    --color-white: #f0f0f0;
    --color-black: #000000;
    --color-yellow: #FFEC19;
    --color-blue: #24F2FF;
    --blue-120: #83f7ff;
    --color-purple: #9A19FF;
    --color-green: #24FF54;
    --green-20: #073311;
    --color-orange: #FF7324;
    --orange-20: #45200C;
    --color-red: #FF2424;
    --red-20: #450C0C;
    --grey-5: #0D0D0D;
    --grey-10: #1A1A1A;
    --grey-15: #262626;
    --grey-20: #333333;
    --grey-30: #4D4D4D;
    --grey-50: #868686;
    --site-margin: 0 6rem;
    --font-xs: 0.75rem;
    --font-sm: 1rem;
    --font-md: 1.125rem;
    --font-lg: 1.5rem;
    --font-xl: 2rem;
    --font-huge: 3.5rem;
    --radius-sm: 6px;
    --radius-round: 999px;
    --site-font: 'IBM Plex Mono', monospace;
}

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-family: var(--site-font);
    font-size: 100%;
    line-height: 1.5;
    color: var(--color-white);
    background-color: var(--color-black);
    scroll-behavior: smooth;
}

svg {
    height: auto;
}

a {
    text-decoration: none;
    display: inline-block;
    color: var(--color-blue);
    font-weight: 700;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;

    &:hover,
    &:focus {
        border-bottom: 2px solid var(--color-blue);
    }
}

button {
    background: transparent;
    color: inherit;
    border: 1px solid transparent;
    font-size: var(--font-sm);
    font-weight: 500;
    font-family: inherit;

    &:hover,
    &:focus {
        opacity: 0.9;
    }

    &:active {
        opacity: 0.6;
    }

    &[disabled] {
        background: var(--grey-20);
        color: var(--grey-50);
        pointer-events: none;
        opacity: 0.5;
        border: 1px solid transparent;
    }
}

a,
button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: inherit;

    .icon-container > svg {
        width: 12px;
    }
}

a.primary-button,
.primary-button {
    background: var(--color-blue);
    color: var(--color-black);
    padding: 8px 22px;
    border-radius: var(--radius-sm);
    border: 1px solid var(--color-blue);
    font-weight: 700;
    justify-content: center;

    &:hover,
    &:focus {
        border-color: var(--blue-120);
        box-shadow: 0 0 10px 0 var(--blue-120);
    }
}

.secondary-button {
    background: var(--grey-20);
    color: var(--color-white);
    padding: 8px 22px;
    border-radius: var(--radius-sm);
    border: 1px solid var(--grey-30);
    font-weight: 700;
    justify-content: center;

    &:hover,
    &:focus {
        border-color: var(--grey-50);
    }
}

.danger-button {
    background: var(--red-20);
    color: var(--color-white);
    padding: 8px 22px;
    border-radius: var(--radius-sm);
    border: 1px solid var(--red-20);
    font-weight: 700;
    justify-content: center;

    &:hover,
    &:focus {
        border-color: var(--color-red);
    }
}

.tiny-ghost-button {
    color: var(--color-blue);
    margin-block: 8px;
    margin-inline-start: auto;
    padding: 0;
    font-size: var(--font-xs);

    &:hover,
    &:focus {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.6;
    }

    .icon-container > svg {
        width: 10px;
    }
}

.button-row {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

header,
main,
footer {
    margin: var(--site-margin);
}

main {
    padding: 2rem 0;
}

section {
    h1 {
        font-size: var(--font-lg);
        margin-block: 0;
    }

    p {
        color: var(--grey-50);
    }
}

.page-hero {
    max-width: 668px;
    margin-block: 2rem 4rem;
    
    p {
        margin-block: 8px 0;
    }
}

.page-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    
    & > nav {
        flex: 1 0 25%;
        min-width: 12rem;
    }

    &-content {
        flex: 1 0 calc(75% - 2rem);
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

h1 {
    font-size: var(--font-huge);
}

h2 {
    font-size: var(--font-lg);
}

p {
    font-size: var(--font-md);
}

li, ul, menu {
    list-style: none;
    margin-block: 0;
    padding-inline: 0;
}

.note-key-value {
    display: flex;
    gap: 2rem;
}
.note-key,
.note-value {
    display: inline-block;
    font-size: var(--font-sm);
    margin-top: 0;
    margin-bottom: 0.25rem;
}

.note-value {
    color: var(--grey-50);
    font-weight: 500;
    word-break: break-word;
    flex: 1;
}

form {
    margin-block: 1rem;
}

label,
legend {
    font-size: var(--font-xs);
    display: block;
    margin: 0;
}

select,
input[type="text"],
input[type="datetime-local"],
input[type="search"],
textarea {
    width: 100%;
    font-size: var(--font-md);
    padding: 12px 16px;
    font-family: var(--site-font);
    background: var(--grey-5);
    border: 1px solid var(--grey-50);
    border-radius: var(--radius-sm);
    color: var(--color-white);
}

select,
input[type="text"],
input[type="datetime-local"],
input[type="search"] {
    font-weight: 500;
    font-size: var(--font-sm);
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    display: none;
}

textarea {
    font-size: var(--font-xs);
    line-height: 2;
    tab-size: 2;
    resize: none;
}

select:hover,
select:focus,
input[type="text"]:hover,
input[type="text"]:focus,
input[type="datetime-local"]:hover,
input[type="datetime-local"]:focus,
input[type="search"]:hover,
input[type="search"]:focus,
textarea:hover,
textarea:focus {
    border-color: var(--color-white);
}

fieldset {
    border: none;
    padding: 0;
    margin: 0.5rem 0 1.5rem;
    display: inline-flex;
}

legend {
    margin-bottom: 0.5rem;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] ~ label {
    padding: 2px 10px;
    border-radius: var(--radius-round);
    font-size: var(--font-sm);
    margin-right: 0.5rem;
    background-color: var(--grey-10);
    border: 2px solid var(--grey-30);
    color: var(--grey-50);
}

input[type="radio"]:checked ~ label {
    background-color: var(--grey-30);
    border: 1px solid var(--color-white);
    color: var(--color-white);
}

#output-container {
    padding: 1rem;
    border: 1px solid var(--grey-50);
    color: var(--grey-50);
    border-radius: var(--radius-sm);
    min-height: 200px;
}

#output {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.field-container {
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    gap: 4px;
    flex-wrap: wrap;

    label {
        flex: 0 0 8rem;
    }

    .select-container,
    .input-container,
    .textarea-container {
        flex: 1 1 75%;
    }

    .select-container {
        position: relative;

        select {
            appearance: none;
    
            + .icon-container {
                position: absolute;
                top: 0;
                right: 1rem;
                height: 100%;
                display: flex;
                align-items: center;
            }
        }
    }

    &.checkbox-container {
        align-items: center;

        input[type="checkbox"] {
            appearance: none;
            margin-inline-end: 0.5rem;
    
            ~ label {
                flex: auto;
            }
    
            &::before {
                content: '';
                display: block;
                border: 1px solid var(--grey-50);
                height: 1.25rem;
                width: 1.25rem;
                border-radius: 0.125rem;
            }
    
            &:hover {
                &::before {
                    border-color: var(--color-white);
                }
            }
    
            &:checked {
                border-radius: 0.125rem;
    
                &::before {
                    border: 1px solid var(--color-black);
                    background: url('/src/assets/checkmark.svg');
                    background-size: 0.75rem;
                    background-position: center center;
                    background-repeat: no-repeat;
                    filter: invert(100%) brightness(100%);
                }
            }
        }
    }
}

.no-scroll {
    height: 100vh;
    overflow-y: hidden;
}

.lowercase {
    text-transform: lowercase;
}

.icon-container {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 998px) {
    :root {
        --site-margin: 0 1rem;
    }
}