pre {
    background: var(--color-black);
    padding: 1rem;
    margin-bottom: 2rem;
    overflow-wrap: anywhere;

    code {
        white-space: break-spaces;

        .entry-row {
            display: flex;
            gap: 2rem;
            margin-block: 0.5rem;

            .key-entry {
                flex: 0 0 6rem;
            }
        }
    }
}