.entry-container {
    white-space: break-spaces;
    font-family: var(--site-font);
    font-size: var(--font-xs);
    border-radius: var(--radius-sm);
    margin-bottom: 2rem;
    overflow-wrap: anywhere;
    border: 1px solid var(--white-transparent);

    .entry-row {
        display: flex;
        gap: 2rem;
        padding-inline: 2rem;
        padding-block: 1rem;
        &:not(:last-child) {
            border-bottom: 1px solid var(--white-transparent);
        }

        .key-entry {
            flex: 0 0 6rem;
            font-weight: 700;
        }

        .value-entry {
            p {
                margin-block-start: 0;
                font-size: var(--font-xs);
            }
        }
    }
}